.dash-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.userList-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 3%;
}

#bar {
    margin: 2%;
    width: 95%;
}

.vendorSearch-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    border: 2px solid;
    align-items: center;
}

.vendorResults {
  align-content: center;
  padding: 0, 15px, 0, 15px;
  width: inherit;,
  height: inherit;,
  overflowY: 'auto',
}

.navbar-default {
    background-color: #CAEBF2;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
