/* Color Scheme:
    #CAEBF2 - Blue
    #A9A9A9 - Carbon
    #FF3B3F - Watermelon
    #EFEFEF - Neutral gray
  */

* {
  margin: 0;
  padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-container {
    justify-content: flex-start;
    margin: 10px;
    padding: 15px;
}

.nav-right {
    justify-content: flex-end;
    margin: 10px;
    padding: 15px;
}

li {
    list-style: none;
}
